@media screen and (max-width: 480px) {
  nav {
    width: 90%;
    height: auto;
    padding: 15px 10px;
  }

  .navbar-container {
    position: relative;
  }

.wrapper-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 29px;
    height: 29px;
    cursor: pointer;
    transition: transform 330ms ease-out;
    position: absolute;
    right: 18px;
    top: -18px;
}

.nav-links {
    position: fixed;
    top: 80px;
    right: -105%;
    width: 100%;
    height: 25vh;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0px;
    transition: 0.3s ease-in-out;
}

.nav-links.active {
    right: 0;
}

.nav-links div {
    font-size: 20px;
    cursor: pointer;
}

.dropdown-content {
    position: static;
    display: none;
    width: 100%;
    text-align: center;
    border: none;
    padding: 10px 0;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.logo {
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    left: 10px;
    top: -25px;
  }
  .foundation_name {
    height: 30px;
    width: 90px;
    color: #f17db9;
    position: absolute;
    left: 3.4rem;
    font-size: 1rem;
    top: -18px;
  }
  .hero1 {
    height: 100vh;
    width: 100%;
  }
  .hero1 img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    position: absolute;
    top: 0;
    right: 0;
  }